html, body {
  height: 100%;
}

.fill {
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  min-height: 100%;
  display: block;
}

#add-overlay select {
  min-height: 300px;
}

#layer-info {
  height: 60px;
  overflow: scroll;
}

.layer-icon {
  margin-right: -5px;
  margin-top: 5px;
  margin-left: 15px;
  float: right;
}

/* Boostrap overrides */

.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.container-fluid {
  padding: 0px;
}

.navbar-inverse .navbar-inner {
  background-color: rgba(0,0,0,0.9);
  background-image: none;
}

.navbar .brand {
  padding-left: 30px;
  padding-top: 14px;
}

.dropdown-menu > li > a {
  margin: 3px 0px 3px 0px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #468847;
  background-image: none;
}

.navbar .pull-right > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu.pull-right:after {
  right: 20px;
}

.modal, .modal.fade.in {
  top: 5%;
}

.modal-body {
  max-height: 800px;
}

/* Leaflet overrides */

.leaflet-top {
  top: 50px;
}

.leaflet-control-layers label {
  font-size: 10px;
}

.leaflet-control-scale-line {
  border-color: black;
  background-color: transparent;
  box-shadow: none;
}

.leaflet-container .leaflet-control-mouseposition {
  background-color: transparent;
  color: black;
  text-shadow: 1px 1px 1px #fff;
  box-shadow: none;
}

.leaflet-control-minimap {
  border: none;
  box-shadow: 0 1px 7px rgba(0,0,0,0.65);
  background: white;
}

.leaflet-container .leaflet-control-zoomslider {
  width: 26px;
  margin-left: 10px;
}

.leaflet-bar a, .leaflet-bar a:hover {
  border-bottom: none;
}

.leaflet-control-zoomslider a {
  width: 26px;
  height: inherit;
}

.leaflet-control-zoomslider-slider {
  background-color: rgba(255,255,255,0.75);
}

.leaflet-control-zoomslider-slider-knob {
  width: 17px;
}